* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Project base colors */
:root {
    --m-bg-color: #E7E8EA;
    --m-btn-color: #3783E4;
    --m-btn-hover-color: #2f75d1;
    --m-btn-text-color: #fff;
    --m-text-color: #000018;
    --modal-bg-color: #fff;
    --modal-shadow: 0 0 30px -15px rgba(128, 128, 128, 0.397);
}

/* Base styles for document body */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--m-text-color);
    background: var(--m-bg-color);
}

/* Adjusting SVG size based on font-size */
svg {
    width: 1em;
    height: 1em;
}

/* Adjusting button's text color for button icons */
.btn-icon svg {
    fill: var(--m-btn-text-color);
}

/* Removing extra white-space around icons */
.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

/* Base styles for button elements */
.button {
    border: none;
    outline: none;
    background-color: var(--m-btn-color);
    color: var(--m-btn-text-color);
    padding: 12px 16px;
    border-radius: 13px;
    font-size: 1.05rem;
    cursor: pointer;
    box-shadow: 6px 6px 20px -10px rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
}

.button:hover {
    background-color: var(--m-btn-hover-color);
}

/* Styling main-container to adjust the open-modal button */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling modal container */
.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling modal box */
.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 40%;
    background-color: var(--modal-bg-color);
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: var(--modal-shadow);
    z-index: 2;
}

.modal-box_title {
    font-size: 22px;
}

.modal-box_content {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Stylig modal overlay */
.modal-overlay {
    position: absolute;
    inset: 0;
    background-color: #00001854;
    backdrop-filter: blur(15px);
    z-index: 1;
}